body{
  display: flex;
  height: 100vh;
  background-color: grey;
  justify-content: center;
  align-items: center;
}
.App {
  width: 50vw;
  padding: 10px;
  text-align: center;
  background-color: white;
  border-radius: 15px;
}

.add-button{
  all: unset;
  background-color: grey;
  color: white;
  padding: 10px;
  width: 40vw;
  border-radius: 10px;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
